﻿@model  Person
@{
    ViewData["Title"] = "Edit";
}

<h1 class="bg-warning text-center">Edit</h1>
<form asp-action="Edit" asp-antiforgery="true">
    <div class="form-group">
        <input class="form-control" asp-for="ID" hidden="hidden"/>
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
