﻿@model string
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
Sorry, an error has occured while connecting to the server. @Model. Press the link below to refresh.
<a asp-controller="PhoneBook" asp-action="Index">Refresh</a>

