﻿@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info text-center">Index - page @ViewBag.Page</h1>

@if(!Model.People.Any())
{
    <h2 class="text-center">Whoah! It looks like you have no contacts... Lets <a asp-action="Add" asp-controller="Management">add</a> new!</h2>
}

<table class="table table-dark table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <td>Name</td>
            <td>Last name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Created</td>
            <td>Last modified</td>
            <td colspan="2">Options</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.LastName</td>
                <td>@person.Phone</td>
                <td>@person.Email</td>
                <td>@person.Created</td>
                <td>@person.Modified</td>
                <td><a asp-action="Edit" asp-controller="Management" asp-route-id="@person.ID">Edit</a></td>
                <td><a asp-action="Remove" asp-controller="Management" asp-route-id="@person.ID">Remove</a></td>
            </tr>
        }
        <tr>
            <td colspan="8"><a asp-action="Add" asp-controller="Management">Add</a></td>
        </tr>
    </tbody>
</table>

@for(var i = 1; i <= ViewBag.Pages; i++)
{
    <a asp-action="Index" asp-controller="PhoneBook" asp-route-page="@i">Page @i</a> 
}

